.image{
 float: left;
 border-radius: 10px;
 width: 200px;
 margin: 30px;
}

.clr{
    clear: both;
}

    .container {
 float: left;
 width: 33.3%;
 border:1px solid #ccc;
 padding: 10px;
 box-sizing: border-box;
 
}
.main-bio {
    display: flex;
}
.gray {
    margin: 0px;
    background-color: gray;
    text-align: center;
}